{% load static %}

  <section style="background-color: #442104 ;" class="about_section layout_padding" id="abt">
    <div class="container">

      <div class="row" >
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/nritta.png' %}" style="height:600px; width:600px;" alt="natraja">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box" id="db">
            <div class="heading_container">
              <h2>
                We Are Nritta
              </h2>
            </div>
            <p class="para1 text-justify">
              Welcome to Nritta, your ultimate destination for learning the art of dance! Whether you're a beginner taking
              your first steps or an experienced dancer looking to refine your skills, our platform is designed to cater to all levels and styles.
            </p>
            <p class="para1 text-justify" >Our passion is to spread the joy of dance and make it accessible to everyone, no matter where you are in the world.
            we believe that dance is not just about movements; it's an expression of the soul, a celebration of culture, and a journey of self-discovery. Our comprehensive library features a diverse array of dance forms, each meticulously curated to ensure that you receive the highest quality instruction.</p>
            <p class="para1 text-justify">Our team of experienced instructors brings their expertise and passion to each lesson, breaking down complex techniques into easy-to-follow steps. With detailed explanations, demonstrations, and practice tips, you'll find yourself dancing with confidence and grace in no time.
              Our user-friendly platform allows you to learn at your own pace, with the flexibility to revisit lessons and practice as often as you need.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
