
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Experience the fusion of cultures!
                    </h1>
                    <p>
                      From the vibrant rhythms of Bollywood to the elegance of ballet, the energy of hip-hop to the grace of Kathak, our dance tutorial website celebrates the rich tapestry of Indian and Western dance forms, including the exhilarating beats of Zumba.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'reg' %}" class="btn1">
                        Register Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Step into the rhythm of authenticity and grace.
                    </h1>
                    <p>
                      Discover the joy of movement as you unlock the secrets of various dance forms through our immersive tutorials, igniting your passion for dance like never befor
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Register Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                    Move with Grace, Dance with Passion...
                    </h1>
                    <p>
                      Dive into the rhythm of expression. Explore the artistry of movement with our diverse range of dance tutorials, guiding you through every step of your journey.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Register Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>